.btnheader{

  border-radius: 40px;
   color:        rgb(224, 197, 214);
   font-size: 1em;
   font-style: italic;
   font-weight: bold;
   padding:5px 5px;    
   text-align:    center;
   margin : 20px;
  background-color:rgb(109,95, 236);
   border-radius: 50%;
   height: 4.5em;
   width: 4.5em;
   font-family:'Times New Roman', Times, serif;

background: #456BD9;
border: 0.1875em solid #0F1C3F;
border-radius: 50%;
/*height: 4em;
width: 4em;*/
}
.jumbotron
{  margin: 0 !important;  
  background-image: linear-gradient(to right,lavender, lightseagreen,lavender);
 padding:0;
  color : black;
}    
 
.navbar {
  background-color: rgb(109,95, 236);
  font-size: 20px; 
  margin-bottom:10px;  
} 
.site-footer {
  background-image: linear-gradient(to right,lavender, lightseagreen,lavender);
  padding: 20px 0;
  margin-top: 10px;
}
